# Env variables used to communicate with backend
VITE_API_URL=http://localhost:8000
VITE_WS_URL=ws://localhost:8000/committees

# Supabase auth variables
VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=
